# Since this this is monorepo we want to run FMT and VALIDATE in every terrafrom subdirectory
name: "Terraform"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  directories: # Job that list subdirectories
    runs-on: ubuntu-latest
    outputs:
      dir: ${{ steps.set-dirs.outputs.dir }} # generate output name dir by using inner step output
    steps:
      - uses: actions/checkout@v2
      - id: set-dirs # Give it an id to handle to get step outputs in the outputs key above
        run: echo "::set-output name=dir::$(ls -d */ | jq -R -s -c 'split("\n")[:-1]')"
        # Define step output named dir base on ls command transformed to JSON thanks to jq
  loop:
    runs-on: ubuntu-latest
    needs: [directories] # Depends on previous job
    strategy:
      matrix:
        dir: ${{fromJson(needs.directories.outputs.dir)}} # List matrix strategy from directories dynamically
    steps:
    - uses: actions/checkout@v2
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.13.5
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
    - run: terraform fmt -check ${{matrix.dir}}
      # # In order to validate the code we need to TF INIT and select some WORKSPACE
    # - run: terraform workspace new dev
    # - run: cd ${{matrix.dir}} && terraform init
    # - run: cd ${{matrix.dir}} && terraform validate